<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/chatPDF.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>

    <div class="container" id="app">
        <a href="/">
            <span class="material-symbols-outlined">
                home
            </span>
        </a>
        <h1>PDF 提問</h1>
        <h3>選擇pdf向量資料</h3>
        <ul>
            <li v-for="(collection, index) in collections">
                <input type="radio" name="collection" :id="'collection'+
            index" :value="collection.name" v-model="pickedCollection">
                <label :for="'collection'+
                index">{{collection.name}}</label>

            </li>
        </ul>
        選擇的資料集:
        {{pickedCollection}}

        <input type="text" v-model="query" placeholder="什麼是GOAL？">
        <button class="button" @click="ragQuery">送出問題</button>
        <div class="chat">
            <div class="query" v-if="user">
                {{ user }}
            </div>
            <div class="loader" :class="user&&!answer ? 'loading':''">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="answer" v-if="answer">
                {{ answer?.kwargs?.content}}
            </div>
        </div>
    </div>
    <script src="/js/chatPDF.js"></script>
</body>

</html>