<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <h1>RAG 實作入口</h1>
        <div class="links">
            <a class="button" href="/pdf-upload">pdf上傳</a>
            <a class="button" href="/pdf-chat">pdf提問</a>
        </div>

    </div>
</body>

</html>